p {
	font-weight: bold;
	font-size: 36px;
}

h1 {
	background-color: green;
	text-align: center;
	font-family: fantasy;
}

div {
	font-family: cursive;
	text-align: center;
}

#contentinfo p {
	line-height: 20px;
	margin: 30px;
	padding-bottom: 20px;
	text-align: justify;
	width: 140px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
	width: 30%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Set a style for all buttons */
button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
	padding: 14px 20px;
	background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
	float: left;
	width: 50%;
}

/* Add padding to container elements */
.container {
	padding: 5px;
}

/* Clear floats */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 100px) {
	.cancelbtn, .signupbtn {
		width: 50%;
	}
}